* {
    font-family: "Kedebideri", sans-serif;
    margin: 0;
    padding: 0;
}

.linea-fina {
    border: none;
    border-top: 2px solid #b0bfc7;
    height: 0;
    flex: 1;
    margin-top: -10px;
    margin-bottom: 50px;
    margin-left: 130px;
    margin-right: 100px;
}


html,
body {
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



/* HEADER */
.header-materias {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 10px 20px;
    box-sizing: border-box;
}

.header-izq {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-header {
    height: 70px;
    width: auto;
    margin-left: -30px;
}

.titulo-header {
    margin-top: 30px;
    margin-left: -50px;
    font-size: xx-large;
    font-family: "Kedebideri", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.header-der {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icono-usuario {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding-bottom: 5px;
}

.usuario-info {
    display: flex;
    flex-flow: column nowrap;
    /* align-items: flex-start; */
    font-family: "Kedebideri", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nombre-usuario {
    font-size: 1.1rem;
    font-weight: 700;
    font-style: normal;
    font-family: "Kedebideri", sans-serif;
}

#cerrar-sesion {
    font-size: 0.95rem;
    text-decoration: none;
    margin-top: 2px;
    color: #333333;
    text-align: right;
}

#cerrar-sesion:hover {
    text-decoration: underline;
}

body {
    background-color: #f1faff;
}

body {
    background-color: #f1faff;
    text-align: center;
}















#barra-estado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    height: 60px;
    /* padding: 10px 20px; */

    background-color: #9bbdd5;


    /* border: 1px solid black; */
    border-radius: 100px;
}


#pri,
#seg,
#ter {
    display: flex;
    flex: 1;
    height: 100%;
    /* justify-content: space-between; */
    justify-content: end;

    border-radius: 100px;
    padding: 0px 0px 0px 15px;
    line-height: 60px;
    background-color: #9bbdd5
}

.number {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 60px;
    height: 98%;

    justify-content: center;
    border-radius: 100px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 23px;
}



#pri {
    background-color: #016099;
}

#seg {
    background-color: #9bbdd5;
}

#ter {
    background-color: #9bbdd5;
}



#barra-estado div span {
    padding-right: 10px;
    font-size: 13px;
    color: white;
    text-shadow: #333333 0px 0px 0.06px;
}













#primera-etapa h1 {
    margin: 100px 0px 60px 0px;
}



.mat {
    width: 300px;
    height: 50px;
    margin: 20px auto 20px auto;

}

.mat input[type="checkbox"] {
    display: none;
    /* oculta el radio si querés solo el label visible */
}

.mat label {
    display: block;
    /* padding: 12px 20px; */
    /* margin-bottom: 10px; */
    border-radius: 8px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);


    line-height: 49px;
    height: 100%;
    width: 100%;
}

.mat label:hover {
    background-color: #9bbdd5;
}

#hola {
    display: none;
}

/* Estilo cuando el radio está seleccionado */
.mat input[type="checkbox"]:checked+label {
    background-color: #9BBDD5;
    color: black;
    font-weight: bold;
}

#submit1 {
    margin: 50px 0px 0px 500px;
    background-color: #016099;

    border: 1px solid #014a78;
    border-radius: 10px;

    cursor: pointer;
    height: 50px;
    width: 250px;
    line-height: 30px;
    color: white;
}

#submit1:hover {
    background-color: #014a78;
}


#segunda-etapa h1 {
    margin: 100px 0px 60px 0px;
}



#filtro {
    display: flex;
    justify-content: space-around;

    height: 40px;
    width: 20%;
    background-color: #e0e0e0;
    margin: 0px auto;
    padding: 10px;
    padding-left: 20px;

    border-radius: 6px;
}

#filtro input[type="radio"] {
    display: none;
}

#filtro input[type="radio"]:checked+label {
    background-color: #9BBDD5;
    color: black;
    border-radius: 6px;
    /* font-weight: bold; */
}

#filtro label {
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 40px;
    padding: 0px 12px 0px 12px;
}

#filtro label:hover {
    background-color: #b0bfc7;
    border-radius: 6px;
}

#filtro span {
    line-height: 40px;
}






.materia {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin-top: 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);

    width: 1000px;
    margin: 30px auto;
}

.comisiones {
    display: flex;
    flex-flow: column nowrap;
    width: 75%;
}

.materia h2 {
    background-color: #DCEBF4;
    height: 150px;
    width: 25%;
    line-height: 150px;
    border-radius: 6px 0px 0px 6px;

}

.comi {
    height: 50px;
    line-height: 49px;
    /* padding: 0px 0px 0px 10px; */

    background-color: #e0e0e0;
}

.comi:first-child {
    border-radius: 0px 6px 0px 0px;
}

.comi:last-child {
    border-radius: 0px 0px 6px 0px;
}


.materia input[type="radio"] {
    display: none;
}

.materia input[type="radio"]:checked+label {
    background-color: #9BBDD5;

    color: black;
}

.materia label {
    display: block;
    height: 100%;

    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 40px;
    padding: 0px 12px 0px 12px;
}

.materia label:hover {
    background-color: #b0bfc7;
}

.materia label span {
    line-height: 49px;
    padding-right: 60px;
}

.materia label span:last-child {
    line-height: 49px;
    padding-right: 0px;
}

#submit2 {
    margin: 50px 0px 0px 500px;
    background-color: #016099;

    border: 1px solid #014a78;
    border-radius: 6px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);

    cursor: pointer;
    height: 50px;
    width: 250px;
    line-height: 30px;
    color: white;
}

#submit2:hover {
    background-color: #014a78;
}

#atras2 {
    margin: 50px 0px 0px 0px;
    background-color: #ce3a3a;

    border: 1px solid #ce3a3a;
    border-radius: 6px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);

    cursor: pointer;
    height: 50px;
    width: 250px;
    line-height: 30px;
    color: white;
}

#atras2:hover {
    background-color: #802424;
    border: 1px solid #802424;

}











#tercera-etapa img {
    margin: 100px 0px 60px 0px;
}

#tercera-etapa h1 {
    margin: 0px 0px 60px 0px;
}

#conti {
    display: flex;
    justify-content: center;
    gap: 100px;
}

#conti a {
    cursor: pointer;
    text-decoration: none;
}

#conti a:visited {
    color: white;
}


#comprobante {
    margin: 50px 0px 0px 0px;
    background-color: #016099;

    border: 1px solid gray;
    border-radius: 10px;

    cursor: pointer;
    height: 50px;
    width: 250px;
    line-height: 50px;
    color: white;
}

#comprobante:hover {
    background-color: #014a78;
}

#volver {
    margin: 50px 0px 0px 500px;
    background-color: #016099;

    border: 1px solid gray;
    border-radius: 10px;

    cursor: pointer;
    height: 50px;
    width: 250px;
    line-height: 50px;
    color: white;
}

#volver:hover {
    background-color: #014a78;
}


.errores {
    display: none;
    position: static;
    left: 850px;
    color: red;
}













#primera-etapa {
    display: block;
}

#segunda-etapa {
    display: none;
    width: 100%;
    margin-bottom: 50px;
}

#tercera-etapa {
    display: none;
}











#can {
    background-color: #ce3a3a;
}

#can:hover {
    background-color: #802424;
}




.boton {
    margin: 20px auto 10px auto;
    margin-right: 0px;


    background: #016099;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Kedebideri", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 50px;
    width: 250px;
}

.boton:hover {
    background: #014a78;
}

.boton {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
    ;
}