.linea-fina {
    border: none;
    border-top: 2px solid #b0bfc7;
    height: 0;
    flex: 1;
    margin-top: -10px;
    margin-bottom: 50px;
    margin-left: 130px;
    margin-right: 100px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* Header personalizado para Materias en Curso */
.header-materias {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 10px 20px;
    box-sizing: border-box;
}
.header-izq {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-header {
    height: 70px;
    width: auto;
    margin-left: -20px;
}
.titulo-header {
    margin-top: 30px;
    margin-left: -55px;
    font-size: xx-large;
}
.header-der {
    display: flex;
    align-items: center;
    gap: 15px;
}
.icono-usuario {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding-bottom: 5px;
}
.usuario-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nombre-usuario {
    font-size: 1.1rem;
    font-weight: 600;
    font-style: bold;
}
.cerrar-sesion {
    font-size: 0.95rem;
    text-decoration: none;
    margin-top: 2px;
}
.cerrar-sesion:hover {
    text-decoration: underline;
}
body{
    background-color: #f1faff;
}